/******************************************
/* CSS
/*******************************************/

html {
  font-size: 62.5%;
}

/* Box Model Hack */
*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/***************
/* STYLING
****************/

/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

